/resources/views/pruebaSelect2Vite.blade.php
/node_modules
/public/build/
/public/hot
/public/storage
/public/facturas-sucursales
/public/facturas-eventos
/storage/*.key
/storage/app/sucursales/
/storage/app/eventos/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
